<mat-toolbar>
    <span>GALLERY</span>
    <div class="uk-width-expand"></div>
    <small class="uk-margin-small-right">username</small>
    <button mat-raised-button routerLink="">Logout</button>
  </mat-toolbar>
  
  <br />
  <div
    class="uk-container"
    style="background-color: lightgray; width: 100%"
  >
    <br />
    <div>
      <button mat-raised-button color="primary" >Add New Photo</button>
      <br /><br />
      <p>Photos</p>
      
      <div
        class="uk-flex uk-flex-left uk-grid uk-child-width-1-5@s uk-text-center"
        uk-grid
      >
        <div *ngFor="let photo of photos">
          <div
            class="uk-card uk-card-default uk-card-body uk-margin-small-bottom "
          >
          <button (click)="deletePhoto(photo.id)">Delete</button>
          
          <a >Update</a>
          <img [src]="photo.thumbnailUrl" alt="" uk-cover>
            
          {{photo.title}}
          
          </div>
        </div>
  
        </div>
      </div>
      <br />
    </div>
  
  